/* .attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
} */

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0 1.5rem;
  font-family: "Inter", sans-serif;
  color: white;
  background-color: #141414;
  display: grid;
  place-items: center;
  height: 100svh;
}

.card {
  width: auto;
  height: auto;
  padding: 24px;
  border-radius: 12px;
  background-color: #1f1f1f;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.avatar {
  width: 88px;
  height: 88px;
  border-radius: 99px;
  margin-bottom: 1.5rem;
}

.name-location {
  margin-bottom: 1.5rem;
}

.name {
  margin: 0;
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 150%;
}

.location {
  margin: 0;
  color: #c4f82a;
  font-size: 0.875rem;
  font-weight: bold;
  line-height: 150%;
}

.bio p {
  font-size: 0.875rem;
  line-height: 150%;
  margin-bottom: 1.5rem;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

li {
  padding: 12px;
  border-radius: 8px;
  background-color: #333333;
}

li a {
  color: white;
  text-decoration: none;
}
